{% extends "base.html" %}

{% block content %}
    <div class="about-div">
        <p>Hello, welcome to my webpage for top-cat and top-dog (click "Top Cat" or "Top Dog" in the banner). This project aims to bring a little joy to your day with cute animal pictures. All the content you'll see is taken directly from /r/aww. Credit goes to the original posters. Bookmark and check back in every few days for fresh top cats and dogs. </p>
        <p>Please note that sometimes computer vision models confuse cats and dogs. These mistakes are usually very interesing! If you spot a mistake, take a minute to wonder why the vision model got confused.</p>
        <p>To learn how I implemented this webpage, please check out my <a href="https://github.com/simnim/top-cat">github</a> page for the project details. It's BSD liscenced, so feel free to fork it, just give me a shoutout if you do.</p>
        <p>My main profession is bioinformatics. This was my COVID19 <strike><i>lockdown</i></strike> vacation hobby project. I wanted to learn more about state of the art in computer vision tooling and how to properly share that awesomeness with the world. Had a fruitful and interesting time learning about opencv, tensorflow research models, flask, aiosql, etc.</p>
        <p>If you would like to support this page, please feel free to buy me a coffee using the link in the navbar.</p>
        <p>Nick Hahner - 2020</p>
    </div>
{% endblock %}
